<div class="container">
<h2>Welcome to my Rails project!!</h2>

<p><%= link_to("Click to post a link to an image", new_article_path) %></p>

<h4>Image index - </h4>

<% if @articles.any? %>
    <ol><% @articles.each do |article| %>
        <li>
        <p><%= article.text %>
        <br/>
        <%= image_tag(article.link, :class => 'image') %></p>
        <% if !article.tag_list.empty? %>
            <p>Tags: 
            <% article.tag_list.each do |tag| %>
                <%= link_to tag, articles_path(tag: tag) %>
            <% end %>
            </p>
        <% end %>
        </li>
    <% end %>
    </ol>
<% else %>
        <p>Nothing to show!</p>
<% end %>
</div>
