.footer {
    padding: 3rem 4rem;
    border-top: 1px solid lightgrey;
}

.copyright {
    font-size: 11px;
    color: grey;
}

input[type=text], textarea {
    width: 100%;
    padding: 12px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}